/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body { 
    padding: 20px; 
}

span {
    font-size: 2em;
}

span.glyphicon {
    font-size: 2em;
    cursor: pointer;
}

.glyphicon-heart {
    color: #ccc;
}

.liked {
    color: deeppink;
}
