/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body { 
    padding: 20px; 
}

.media-object {
    height: 80px;
    width:  80px;
    border-radius: 100%
}

ul { 
    list-style-type: none;
    list-style-position:inside;
    margin:0;
    padding:0; 
}

li {
    margin-bottom: 10px;
}